on:
  schedule:
    - cron: "0 2 * * 1,5"
  workflow_dispatch:
  repository_dispatch:
    types: [trigger-workflow]

name: Docker images

jobs:
  build-images:
    name: Build & push Docker images
    runs-on: ubuntu-latest
    permissions:
      packages: write

    strategy:
      matrix:
        runtime:
          - name: freedesktop-24.08
            packages: org.freedesktop.Platform//24.08 org.freedesktop.Sdk//24.08
            remote: flathub

          - name: freedesktop-25.08
            packages: org.freedesktop.Platform//25.08 org.freedesktop.Sdk//25.08
            remote: flathub

          - name: gnome-48
            packages: org.gnome.Platform//48 org.gnome.Sdk//48
            remote: flathub

          - name: gnome-49
            packages: org.gnome.Platform//49 org.gnome.Sdk//49
            remote: flathub

          - name: kde-5.15-24.08
            packages: org.kde.Platform//5.15-24.08 org.kde.Sdk//5.15-24.08
            remote: flathub

          - name: kde-5.15-25.08
            packages: org.kde.Platform//5.15-25.08 org.kde.Sdk//5.15-25.08
            remote: flathub

          - name: kde-6.9
            packages: org.kde.Platform//6.9 org.kde.Sdk//6.9
            remote: flathub

          - name: kde-6.10
            packages: org.kde.Platform//6.10 org.kde.Sdk//6.10
            remote: flathub

    services:
      registry:
        image: registry:latest
        ports:
          - 5000:5000

    steps:
      - name: Free up disk space
        run: |
          sudo swapoff -a || true
          sudo rm -rf /opt/ghc /usr/local/.ghcup || true
          sudo rm -rf /opt/hostedtoolcache/CodeQL || true
          sudo rm -rf /usr/local/julia*
          sudo rm -rf /opt/hostedtoolcache/go /opt/az /opt/microsoft
          sudo rm -rf /usr/share/miniconda /home/runner/.rustup /home/packer/.rustup /home/runneradmin/.rustup
          sudo rm -rf /etc/skel/.rustup /opt/hostedtoolcache/node /opt/google-cloud-sdk
          sudo rm -rf /usr/share/az_* /opt/google /usr/lib/firefox /usr/local/aws-*
          sudo rm -rf /opt/actionarchivecache /opt/hostedtoolcache/Ruby
          sudo rm -rf /var/lib/mysql /usr/local/n
          sudo rm -rf /swapfile || true
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet /usr/share/swift
          sudo rm -rf /usr/local/share/boost /usr/local/share/powershell
          sudo rm -rf /usr/lib/google-cloud-sdk /usr/lib/jvm
          sudo rm -rf /usr/local/graalvm /usr/local/share/chromium
          sudo rm -rf /usr/local/lib/node_modules
          sudo rm -rf /usr/lib/dotnet /usr/lib/php /usr/share/mysql
          sudo rm -rf /usr/lib/llvm-*
          sudo rm -rf /usr/lib/mono
          sudo apt-get clean || true
          sudo rm -rf /var/lib/apt/lists/*

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false

      - name: Set up QEMU
        # 3.6.0
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392

      - name: Set up Docker Buildx
        # 3.10.0
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2
        with:
          driver-opts: network=host

      - name: Build & push the base image to local registry
        # 6.15.0
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          pull: true
          push: true
          tags: localhost:5000/base:latest

      - name: Login to ghcr.io
        # 3.4.0
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Write the Dockerfile for the ${{ matrix.runtime.name }} runtime
        run: |
          cat >> ${{ matrix.runtime.name }}.Dockerfile <<-EOF
          # syntax = docker/dockerfile:experimental
          FROM localhost:5000/base:latest
          RUN --security=insecure flatpak install -y --noninteractive ${{matrix.runtime.remote}} ${{ matrix.runtime.packages }}
          EOF

      - name: Build & push the ${{ matrix.runtime.name }} image
        # 6.15.0
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4
        with:
          allow: security.insecure
          context: .
          file: ${{ matrix.runtime.name }}.Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/flathub-infra/flatpak-github-actions:${{ matrix.runtime.name }}

  test_actions:
    needs:
    - build-images
    uses: ./.github/workflows/test.yml
