name: "Test build with published image"

on:
  push:
    branches: main
  pull_request:
    branches: main
  workflow_dispatch:
  workflow_call:

concurrency:
  group: actions_test-${{ github.ref }}
  cancel-in-progress: true

env:
  TEST_APPID: io.github.lo2dev.Echo
  MANIFEST_NAME: io.github.lo2dev.Echo.json

jobs:
  actions_tagged:
    permissions: {}
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged
    strategy:
      matrix:
        variant:
          - arch: x86_64
            runner: ubuntu-24.04
          - arch: aarch64
            runner: ubuntu-24.04-arm
      fail-fast: false
    runs-on: ${{ matrix.variant.runner }}
    steps:
      - name: Clone the app
        run: |
          git clone --depth=1 --branch master --single-branch --recursive https://github.com/flathub/${{ env.TEST_APPID }}.git
          cd ${{ env.TEST_APPID }} && rm -rf ".git"

      - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          build-bundle: false
          upload-artifact: false
          cache: false
          restore-cache: false
          manifest-path: ${{ env.TEST_APPID }}/${{ env.MANIFEST_NAME }}
          arch: ${{ matrix.variant.arch }}
          verbose: true
          branch: stable
          mirror-screenshots-url: https://dl.flathub.org/media

      - name: Run linter
        run: |
          flatpak-builder-lint --exceptions manifest ${{ env.TEST_APPID }}/${{ env.MANIFEST_NAME }}
          flatpak-builder-lint --exceptions builddir flatpak_app
          flatpak-builder-lint --exceptions repo repo

      - name: List refs
        run: |
          ostree refs --repo=repo

      - name: Install
        run: |
          flatpak install --user -y --no-related --no-deps --reinstall ./repo ${{ env.TEST_APPID }}

      - name: Info
        run: |
          flatpak info ${{ env.TEST_APPID }}

  actions_master:
    permissions: {}
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged
    strategy:
      matrix:
        variant:
          - arch: x86_64
            runner: ubuntu-24.04
          - arch: aarch64
            runner: ubuntu-24.04-arm
      fail-fast: false
    runs-on: ${{ matrix.variant.runner }}
    steps:
      - name: Clone the app
        run: |
          git clone --depth=1 --branch master --single-branch --recursive https://github.com/flathub/${{ env.TEST_APPID }}.git
          cd ${{ env.TEST_APPID }} && rm -rf ".git"

      - uses: flatpak/flatpak-github-actions/flatpak-builder@master
        with:
          build-bundle: false
          upload-artifact: false
          cache: false
          restore-cache: false
          manifest-path: ${{ env.TEST_APPID }}/${{ env.MANIFEST_NAME }}
          arch: ${{ matrix.variant.arch }}
          verbose: true
          branch: stable
          mirror-screenshots-url: https://dl.flathub.org/media

      - name: Run linter
        run: |
          flatpak-builder-lint --exceptions manifest ${{ env.TEST_APPID }}/${{ env.MANIFEST_NAME }}
          flatpak-builder-lint --exceptions builddir flatpak_app
          flatpak-builder-lint --exceptions repo repo

      - name: List refs
        run: |
          ostree refs --repo=repo

      - name: Install
        run: |
          flatpak install --user -y --no-related --no-deps --reinstall ./repo ${{ env.TEST_APPID }}

      - name: Info
        run: |
          flatpak info ${{ env.TEST_APPID }}
